<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="kCura.Config" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<kCura.Config configSource="kCuraConnection.config" />
	<appSettings file="appSettings.config">
		<add key="WorkspaceID" value="1017898" />
		<add key="RSAPIServerAddress" value="192.168.137.149" />
		<add key="RESTServerAddress" value="192.168.137.149" />
		<add key="AdminUsername" value="Relativity.Admin@relativity.com" />
		<add key="AdminPassword" value="Test1234!" />
		<add key="SQLServerAddress" value="" />
		<add key="SQLUsername" value="" />
		<add key="SQLPassword" value="" />
		<add key="TestWorkspaceName" value="" />
		<add key="ServerBindingType" value="http" />
		<add key="TestWorkspaceTemplateName" value="New Case Template" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>